.payment_header {
  padding: 20px;
  text-align: center;
  background-color: #e4e3e3;
  font-weight: bold;
  font-size: 20px;
}
.payment_container {
  padding: 30px;
}
.flex {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.flex h3 {
  min-width: 300px;
}
.flex img {
  width: 80px !important;
}
.flex div {
  height: auto !important;
}
.card_container {
  max-width: 350px;
  width: 100%;
}
/* .card_form{

} */
.payment_price {
  padding: 20px;
}
.payment_price > div {
    display: flex;
    font-size: 16px;
    gap: 10px;
}
.payment_price > div span {
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.card_form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  /* color: white; */
  font-weight: bold;
  cursor: pointer;
}
.card_form button:hover {
  background-color: var(--primary-shade);
}
.processing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: grey;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
  .flex h3 {
    min-width: 100%;
  }
  .flex img {
    width: 100px !important;
  }
  .flex div {
    height: auto !important;
  }
}
